body {background:#f8f5f9; font-family:'Roboto',sans-serif;}
.app {display:flex;}
.sidebar {width:230px; background:#444; box-shadow:2px 2px 2px #eee;}
.mainarea {flex:1;}
.content {min-height:650px; padding:15px;}
.header {padding:10px; justify-content:space-between; display:flex; align-items:center; background:rgba(0,0,0, 0.4);}
.footer {padding:10px; font-size:12px;}
.btn {border-radius:3px;}
.btn-xs {padding:2px 5px; font-size:90%;}
.sidebar ul {list-style:none; margin:0; padding:0;}
.sidebar ul li {border-bottom:solid 1px #888;}
.sidebar ul li:last-child {border:none;}
.sidebar ul li a {color:#ddd; display:block; padding:10px; font-size:13px; text-decoration:none;}
.sidebar ul li a:hover {color:#fff; text-decoration:none;}
.sidebar ul li i {display:inline-block; width:20px;}
.sidebar ul ul {display:none; padding-left:20px;}
.sidebar ul ul>li a {padding:10px 0;}

.account-box {background:#fff; display:flex; padding:15px; align-items:center;}
.account-pic img {border-radius:60px;}
.account-details {padding-left:10px;}
.box {display:flex; height:140px; justify-content:center; align-items:center;}